<!-- App Modal -->
<div id="appModal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center">
    <div class="modal-content relative p-6 rounded-lg max-w-md text-center shadow-lg" style="background-color: var(--card-bg);">
        <!-- Close button inside the modal card -->
        <button id="closeModal" class="absolute top-2 right-2 text-white">✖</button>
        <img id="modalImage" class="w-16 h-16 mx-auto mb-4" src="" alt="App Icon">
        <h2 id="modalTitle" class="text-white text-xl font-bold"></h2>
        <p id="modalDescription" class="text-gray-300 mt-2"></p>
        <div id="modalCommand" class="mt-5"></div>
    </div>
</div>