<!-- GitHub Info Section -->
<div id="github-info" class="w-full max-w-3xl mt-6 flex flex-wrap gap-3 justify-center">
    <span class="github-tag"><i class="fas fa-star text-green-300"></i><strong id="stars-count" class="gradient-text">--</strong> Stars</span>
    <span class="github-tag"><i class="fas fa-code-branch text-green-300"></i><strong id="forks-count" class="gradient-text">--</strong> Forks</span>
    <span class="github-tag"><i class="fas fa-users text-green-300"></i>For macadmins by macadmins</span>
    <span class="github-tag"><i class="fas fa-certificate text-green-300"></i><p id="license">--</p></span>
    <a href="https://github.com/almenscorner/intune-uploader" target="_blank"
        class="rounded-lg github-tag bg-green-300 hover:bg-green-400 transition text-green-900 font-semibold flex items-center gap-2 px-4 py-2">
        Leave a star on
        <i class="fab fa-github"></i>
    </a>
    <a href="https://github.com/autopkg/almenscorner-recipes/issues/new" target="_blank"
        class="rounded-lg github-tag bg-green-300 hover:bg-green-400 transition text-green-900 font-semibold">
        Request an app
    </a>
    <div class="flex items-center space-x-2">
        <span class="text-gray-400 text-sm">Contributors:</span>
        <div id="contributors" class="flex -space-x-2"></div>
    </div>
</div>