<div class="flex flex-col md:flex-row items-center justify-between w-full max-w-5xl mx-auto mb-10 mt-10 gap-10">
    <!-- Intro Section -->
    <div class="w-full text-center md:text-left">
        <p class="text-gray-300 text-lg font-light">
            This project aims to simplify the process of creating and updating apps and other payloads in Intune by leveraging the power of <a href="https://github.com/autopkg/autopkg" target="_blank" class="text-green-300 hover:underline">AutoPkg</a>. With AutoPkg, you can automate the process of downloading, packaging, and uploading apps to Intune, saving you time and effort.
        </p>
        <br>
        <p class="text-gray-300 text-lg font-light">
            Found on this site are recipes specifically created for Intune, sourced from the <a href="https://github.com/autopkg/almenscorner-recipes" target="_blank" class="text-green-300 hover:underline">almenscorner-recipes repo</a>. You can either contribute your own recipes to this repository or build your own based on <strong class="font-extrabold text-lg text-green-400">over 4K recipes</strong> available in the AutoPkg <a href="https://github.com/autopkg/" target="_blank" class="text-green-300 hover:underline">recipe repositories</a>.
        </p>
    </div>

    <!-- Contact Box (Vertically Centered) -->
    <div class="contact-box mt-6 md:mt-0 text-center md:text-left self-center">
        <p class="text-gray-300 text-lg">💬 Need help or want to discuss Intune packaging?</p>
        <a href="https://macadmins.slack.com/archives/C05EDN7P337" target="_blank" class="text-green-300 font-semibold hover:underline block mt-2">
            Join the macadmins Slack and say hi in #intune-uploader
        </a>
    </div>
</div>