<div class="flex flex-col md:flex-row items-center justify-between w-full max-w-5xl mx-auto mb-10 mt-10 gap-10">
    <!-- Intro Section -->
    <div class="w-full text-center md:text-left">
        <p class="text-gray-300 text-lg font-light">
            This project streamlines app management in Intune by harnessing the power of AutoPkg.
Automate the download, packaging, upload and update of apps — and save hours of manual work.
        </p>
        <br>
        <p class="text-gray-300 text-lg font-light">
            Here, you’ll find Intune-specific AutoPkg recipes from the <a href="https://github.com/autopkg/almenscorner-recipes" target="_blank" class="text-green-300 hover:underline">almenscorner-recipes repo</a>.
            You can contribute your own, or build from the over <strong class="font-extrabold text-lg gradient-flow">10,000+</strong> recipes existing recipes in the wider AutoPkg community <a href="https://github.com/autopkg/" target="_blank" class="text-green-300 hover:underline">recipe repositories</a>.
        </p>
        <br>
        <p class="text-gray-300 text-lg font-light">Start automating. Stop packaging by hand.</p>
    </div>

    <div>
        <!-- Contact Box (Vertically Centered) -->
        <div class="contact-box mt-6 md:mt-0 text-center md:text-left self-center mb-6">
            <p class="text-gray-300 text-lg">💬 Need help or want to discuss Intune packaging?</p>
            <a href="https://macadmins.slack.com/archives/C05EDN7P337" target="_blank" class="text-green-300 font-semibold hover:underline block mt-2">
                Join the macadmins Slack and say hi in #intune-uploader
            </a>
        </div>

        <!-- Recipes Counter Card -->
        <div class="w-full flex justify-center items-center bg-gray-800 p-6 rounded-lg shadow-lg">
            <div class="text-center">
                <span id="recipeCounter" class="text-4xl font-semibold gradient-flow">0</span><p class="text-lg text-gray-300">Supported Recipes</p>
            </div>
        </div>
    </div>
</div>