<!-- Search Box -->
<div class="w-full max-w-md mb-6">
    <input type="text" id="searchInput" placeholder="🔍 Search among supported recipes..."
    class="w-full p-3 border border-gray-700 rounded-lg shadow-sm bg-gray-800 text-white focus:ring-1 focus:ring-green-400 focus:outline-none transition-all duration-200"
            onkeyup="filterApps()">
</div>
<div class="w-full max-w-md mb-6 flex justify-center text-center">
    <p class="text-gray-500 text-sm">Want to find more than one app? Use commas!</p>
</div>

<!-- App List -->
<div class="app-list" id="appList"></div>

<!-- Pagination Controls -->
<div class="mt-6 flex justify-center space-x-4" id="paginationControls">
    <button onclick="prevPage()" id="prevButton" class="pagination-btn text-white">‹</button>
    <span id="pageInfo" class="text-gray-400 mt-2"></span>
    <button onclick="nextPage()" id="nextButton" class="pagination-btn text-white">›</button>
</div>