<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <!--favicon-->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='90' font-size='90'>📦</text></svg>" type="image/x-icon">
</head>
<body class="flex flex-col min-h-screen transition-colors duration-300 bg-gray-900 text-white font-[Poppins] leading-relaxed">
    {% include appModal.html %}
    {% include header.html %}

    <div id="app" class="glass-effect min-h-screen flex flex-col items-center justify-center px-6 flex-1">
        {{ content }}
    </div>

    {% include footer.html %}

    <script src="{{ '/js/navigation.js' | relative_url }}"></script>
    <script src="{{ '/js/mobileNav.js' | relative_url }}"></script>
    <script src="{{ '/js/smoothScroll.js' | relative_url }}"></script>
    <script src="{{ '/js/menuToggle.js' | relative_url }}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/2.0.7/countUp.umd.js"></script>
</body>
</html>